<div class="container">
  <div class="form-container">
    <h1>Fiche Produit</h1>
    <form #produitForm="ngForm" (ngSubmit)="validerFormulaire()">
      <div class="form-group">
        <label for="code">Code:</label>
        <input
          type="text"
          name="code"
          [(ngModel)]="nouveauProduit.code"
          required
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="designation">Désignation:</label>
        <input
          type="text"
          name="designation"
          [(ngModel)]="nouveauProduit.designation"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="categorie">Catégorie:</label>
        <select name="categorie" [(ngModel)]="nouveauProduit.categorie" class="form-control">
          <option *ngFor="let categorie of categories" [ngValue]="categorie">{{ categorie.libelle }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="prix">Prix:</label>
        <input
          type="text"
          name="prix"
          [(ngModel)]="nouveauProduit.prix"
          class="form-control"
        />
      </div>
      <div class="form-actions">
        <button
          type="submit"
          #validerButton
          [disabled]="!produitForm.form.valid"
          class="btn btn-primary"
        >
          <i class="bi bi-check"></i> Valider
        </button>
        <span class="mx-2"></span>
        <button type="button" (click)="effacerSaisie()" class="btn btn-secondary">
          <i class="bi bi-x"></i> Effacer
        </button>
      </div>
    </form>
  </div>
</div>
